body{
    
}


.container-fluid{
    background-color: aqua;
    background-image: linear-gradient(#0000cc,#003399, #2952a3,#1a66ff,#5c85d6); 
}


#h1{
    color:white;
}


#izitxt{
    color:grey;
}

#deco{
    text-align:right;

}