body{ 
    background-color: #bfbfbf;
    background-repeat:repeat;
    
}

/***********************************************PAGE MODIFICATION ANNUAIRE**************************************************/
.container-fluid{
    background-color: aqua;
    background-image: linear-gradient(#0000cc,#003399, #2952a3,#1a66ff); 
}


#h1{
    color:white;
}



#deco{

    text-align:right;

}



.liens{
    text-align:left;

}

.lien-color{
color:white;
}


.colotxttab{
    color:white;
}

/*tableau*/
.container{
    
    background-image: linear-gradient(#f2f2f2,#e6e6e6);
   
}


.btn_btn-default_btn-lg{
    color:grey;
}


/*Txt gros titre*/
.txttitre{
    color:white;
    margin-left:42%;
}


.littlespace{
    margin-left:35px;
}

/****************************************************************************************************/


/***********************************************PAGE SHOW**************************************************/
 
/* réutilisation de txttitre*/
/*réutilisation de container-fluid*/

.liens{
    padding:0;
    margin:0;
    text-align:center;
  
}
#liens{
display:table-cell;
width:500px;
}



.txttitre2{
    color:white;
    margin-left:43.5%;
}

.txtblock{
    height:400px;
    width:300px;
    margin-top:100px;
    text-align:center;
    background-color:white;
    margin-left:40%;
    border-radius: 10px 10px 10px 10px
}

.button_center{
    margin-top:40px;
    text-align:center;
}

.txtzone{
    
    background-color:white;
   
}

.txtalin{
    margin-top:100px;
}


/****************************************************************************************************/


/***********************************************PAGE MODIF**************************************************/